<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--配置目标对象-->
    <bean id="calculator" class="com.zjc.pojo.Calculator"></bean>
    <!--配置切面对象实例-->
    <bean class="com.zjc.util.LogUtils" id="logUtils"></bean>
    <!--
        aop:config
    -->
    <aop:config>
        <!--
            aop:config相当于注解@Aspect表示切面类
        -->
        <aop:aspect ref="logUtils">
            <!--定义一个切入点表达式-->
            <aop:pointcut id="pointcut1" expression="execution(public * com.zjc.pojo.Calculator.*(..))" />
            <!--
                aop:before 表示前置通知
                method 是通知方法名
                pointcut 切入点表达式
            -->
            <aop:before method="logBefore" pointcut-ref="pointcut1"/>
            <!--后置通知-->
            <aop:after method="logAfter" pointcut-ref="pointcut1"/>
            <!--返回通知-->
            <aop:after-returning method="logAfterReturning" returning="result" pointcut-ref="pointcut1"/>
            <!--异常通知-->
            <aop:after-throwing method="logAfterThrowing" throwing="e" pointcut-ref="pointcut1"/>
        </aop:aspect>
    </aop:config>
</beans>